{% extends "base.html" %}
{% block start %}

<div class="container mt-5">

    <form class="col-6 mx-auto  card p-3 shadow-lg" method="post" enctype="multipart/form-data">
       {% csrf_token %}
        <h1>Update Reciepe</h1>
        <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Reciepe_Name</label>
          <input name="receipe_name" value="{{receipes.receipe_name}}" required type="text" class="form-control" >
          
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1"  class="form-label">Receipe_Descriptions</label>
          <textarea class="form-control" value=""  name="receipe_descriptions" required >{{receipes.receipe_descriptions}}</textarea>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1"  class="form-label">Receipe_Price</label>
          <textarea class="form-control" value=""  name="receipe_price" required >{{receipes.receipe_price}}</textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Reciepe_Image</label>
            <input type="file" name="receipe_image" class="form-control">
          </div>
          <button type="submit" class="btn btn-success">Update Reciepe</button>
      </form>

  
       

       {% endblock %}
